<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>React and java spring data REST</title>
		<!-- <link rel="stylesheet" href="/main.scss" /> -->
	</head>
	<body>

		<div>
			hello, chef <span id="chefname" th:text="${#authentication.name}">name</span>.
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="log out" />
			</form>
		</div>

		<div id="react-container"></div>

		<script src="built/bundle.js"></script>

	</body>
</html>
